/** ##### GLOBAL ##### */
section > .container { padding: 120px 30px !important; }
.text-orange { color: #FF5722 !important; }

h2 {
	border-left: 3px solid #FF5722;
	padding-left: 20px;
}
.full-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color:white;
	font-size: 16px;
}
a:hover { color: orangered; }

/** ##### MATERIAL BOX SHADOW (https://codepen.io/sdthornton/pen/wBZdXq) ##### */
.mbs-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.mbs-1:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.mbs-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.mbs-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.mbs-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.mbs-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

/** ##### NAVIGATION BAR ##### */
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.bg-black {
	background-color: #424242;
	color: white;
}

.navbar { padding: 1rem 2rem; }
.navbar-brand {	text-transform: uppercase; }

/** ##### PRESENTATION ##### */
.presentation-illustration {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.presentation-description {
	font-size: 20px;
	padding-bottom: 30px;
	text-align: justify;
}

.display-more {
	padding: 15px;
	border: 1px solid lightgray;
	margin-bottom: 15px;
	border-radius: 3px;
}
.display-more summary {
	font-weight: bold;
	outline: none;
}
.display-more .display-body { padding-top: 30px; }

/** ##### GALERIE ##### */
.gallery {
	display: flex;
	overflow-x: auto;
	margin-top: 30px;
}
.gallery-item { margin-left: 30px; }
.gallery > .gallery-item:first-of-type { margin-left: 0px; }
.gallery-item img { height: 100px; }

/** ##### A PROPOS DE NOUS ##### */


/** ##### ON PARLE DE NOUS ##### */


/** ##### PRE COMMANDE ##### */
.btn-light {
    color: black;
	background-color: #E0E0E0;
	border-color: #E0E0E0;    
}

/** ##### FOOTER ##### */
footer { padding: 30px 0px; }

.footer {
	display: flex;
	align-items: center;
}
.footer-item.logo { flex: 1; }
.footer-item.links { flex: 4; }
.footer-item.links ul {	list-style: none; }
.footer-item.socials { flex: 2; }

.copyright {
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
}

@media (max-width: 970px){
	.footer {
		display: block !important;
		text-align: center;
	}
}

/** ##### FIXED FOOTER ##### */
.fixed-footer {
	position: fixed;
	top: 75px;
	right: 0;
	z-index: 999;
}

.available {
	background-color: #757575;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	margin-top: 15px;
	border-radius: 2px;
}

@media (max-width: 768px){
	.fixed-footer { width: 100%; }
}